.site-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 55px;
  padding-bottom: 51px;
}

.logo-link {
  display: flex;
  margin-right: 20px;
  transition: opacity 0.4s ease;

  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 0.6;
  }
}

.logo-img {
  display: block;
  width: 106px;
  height: 54px;
}

.sitenav-wrapper {
  display: flex;
  align-items: center;
}

.sitenav {
  margin-right: 238px;
}

.sitenav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.sitenav__item:first-child {
  margin-left: 0;
}

.sitenav__item:not(:last-child) {
  margin-right: 35px;
}

.sitenav__link {
  color: $accent-color;
  text-decoration: none;
  transition: opacity 0.4s ease;
  font-size: $f-20;
  font-weight: 500;
  line-height: 30px;
  white-space: nowrap;

  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 0.6;
  }
}

.site-header__btn {
  text-decoration: none;
  color: $accent-color;
  border: 2px solid $accent-color;
  border-radius: 5px;
  font-size: $f-24;
  line-height: 36px;
  white-space: nowrap;
  margin: 0;
  margin-left: auto;
  padding: 17px 57px;
  background-color: transparent;
  transition: color 0.4s ease,
    background-color 0.4s ease,
    opacity 0.4s ease;

  &:hover {
    background-color: $accent-color;
    color: $white;
  }
  &:active {
    opacity: 0.8;
  }
}

.close-btn,
.toggle-btn {
  background-color: transparent;
  border: none;
  display: none;
  padding: 0;
  cursor: pointer;
}