.site-footer__container {
  padding-top: 31px;
  padding-bottom: 31px;
  border-top: 1px solid #c4c4c4;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 992px) {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  @media screen and (max-width: 767px) {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  @media screen and (max-width: 575px) {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  @media screen and (max-width: 475px) {
    padding-top: 26px;
    padding-bottom: 26px;
    flex-direction: column;
    align-items: center;
  }
}

.site-footer__logo-link {
  margin-right: 0;
  margin-bottom: 15px;
}

.site-footer__text {
  font-size: 24px;
  line-height: 36px;

  @media screen and (max-width: 992px) {
    font-size: 16px;
    line-height: 24px;
  }

  @media screen and (max-width: 767px) {
    font-size: 13px;
    line-height: 19.5px;
  }

  @media screen and (max-width: 575px) {
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
  }

  @media screen and (max-width: 320px) {
    font-size: 11px;
    line-height: 16.5px;
  }
}